/build
# Either ignore the whole Xcode project, or just some stuff from it. Maybe still usefull.
# *.xcodeproj
project.xcworkspace
xcshareddata
xcuserdata

CMakeCache.txt
CMakeFiles
cmake_install.cmake
/Makefile
/src/Makefile
